@font-face {
        font-family: 'Norse';
        font-style: normal;
        font-weight: 400;
        src: url('./assets/Norse-Bold.otf') format('opentype');
    }


:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);

    
}

